target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse and IntelliJ stuff
.idea
.classpath
.project
navclient1.1.iml
.settings

config.txt
config_xml.txt
config_db.txt
config_nb.txt
config_eles.txt
